---
- hosts: minikube
  remote_user: ubuntu
  gather_facts: false
  vars:
     src_path: /home/ubuntu/slave3/workspace/parking-pipeline-project/pod-file.yaml
     src_path1: /home/ubuntu/slave3/workspace/parking-pipeline-project/service-file.yaml
     dest_path: /home/ubuntu/

  tasks:

    #back-end
    # delete existing pod-file.yaml file
    - name: delete-the-existing-pod-file
      command: sudo rm "{{dest_path}}"pod-file.yaml
    # move the pod-file.yaml to minikube ce2 instance
    - name: copy_file
      copy:
        src: "{{src_path}}"
        dest: "{{dest_path}}"
    # delete existing pod
    - name: delete-the-existing-pod-in-k8s
      command: sudo kubectl delete pod parking
    # create new pod
    - name: create pod
      command: sudo kubectl apply -f pod-file.yaml

    # delete existing service-file.yaml file
    - name: delete-the-existing-service-file
      command: sudo rm "{{dest_path}}"service-file.yaml
    # move the service-file.yaml to minikube ce2 instance
    - name: copy_file
      copy:
         src: "{{src_path1}}"
         dest: "{{dest_path}}"
    # delete existing service
    - name: delete-the-existing-service-in-k8s
      command: sudo kubectl delete svc parking
    # create new service
    - name: create service
      command: sudo kubectl apply -f service-file.yaml

      #front-end
    # delete existing pod-file.yaml file
    - name: delete-the-existing-pod-file1
      command: sudo rm "{{dest_path}}"pod-file1.yaml
    # move the pod-file.yaml to minikube ce2 instance
    - name: copy_file
      copy:
        src: /home/ubuntu/slave3/workspace/parking-pipeline-project/pod-file1.yaml
        dest: "{{dest_path}}"
    # delete existing pod
    - name: delete-the-existing-pod-in-k8s
      command: sudo kubectl delete pod parking-front-end
    # create new pod
    - name: create pod
      command: sudo kubectl apply -f pod-file1.yaml

    # delete existing service-file.yaml file
    - name: delete-the-existing-service-file1
      command: sudo rm "{{dest_path}}"service-file1.yaml
    # move the service-file.yaml to minikube ce2 instance
    - name: copy_file
      copy:
        src:  /home/ubuntu/slave3/workspace/parking-pipeline-project/service-file1.yaml"
        dest: "{{dest_path}}"
    # delete existing service
    - name: delete-the-existing-service-in-k8s
      command: sudo kubectl delete svc parking-front-end
    # create new service
    - name: create service
      command: sudo kubectl apply -f service-file1.yaml

